/* styles for group page */
.mainTitle {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  padding: 0px;
  background: linear-gradient(to right, black 0%, #181c25 50%, black 100%);
  color: #f5d389;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-bottom: #f5d389 1px solid;
}

.mainTitle:hover {
  color: white;
  cursor: pointer;
}

.dashButtons {
  display: flex;
  justify-content: space-evenly; /* ensures left alignment */
  align-items: center;
  flex-wrap: wrap;
  width: 80%; /* optional: ensures full-width container */
  margin-bottom: 20px;
  margin: 10px;
  gap: 10px;
}

.createMember,
.sendInvite,
.deleteGroup,
.submitButton,
.cancelButton,
.profileButton {
  background-color: #f5d389;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.profileButton:hover {
  background-color: white;
  cursor: pointer;
}

.createMember:hover {
  background-color: white;
  cursor: pointer;
}

.sendInvite:hover {
  background-color: white;
  cursor: pointer;
}

.deleteGroup:hover {
  background-color: white;
  cursor: pointer;
}

.addToListButton,
.submitButton,
.cancelButton {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.addToListButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.submitButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.removeEmailButton {
  background-color: black;
  color: white;
  border: none;
  padding: 2px;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 40%;
}

.removeEmailButton:hover {
  background-color: red;
  color: black;
  cursor: pointer;
}

.formDiv {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  padding: 10px 20px;
  width: 100%;
}

.addMemberForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  background-color: #f5d389;
  color: black;
  border-radius: 8px;
  width: 100%;
}

.formButtonGroup {
  display: flex;
  gap: 10px;
}

.input {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Members details table for group page styling */

.memberTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #181c25;
}

.memberTable th,
.memberTable td {
  border: 1px solid #f5d389;
  padding: 10px;
  text-align: left;
}

.memberTable th {
  background-color: #f5d389;
  color: black;
  font-weight: bold;
}

.memberDetails {
  background-color: #181c25;
  width: 90vw;
  min-height: 80vh;
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  overflow-x: auto;
}

.filtersDiv {
  display: flex;
  justify-content: space-between; /* ensures left alignment */
  flex-wrap: wrap;
  width: 100%; /* optional: ensures full-width container */
  margin-top: 20px;
  margin: 10px;
  gap: 10px;
}

.memberPageLinkCell {
  background-color: #181c25;
  color: black;
  border-color: white;
}

.fullCellLink {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  text-decoration: none;
  color: inherit;
  background-color: #f5d389;
  border: 2px solid white;
  box-sizing: border-box;
}

.fullCellLink:hover {
  background-color: white;
}

/* table edit and delete button */

.tableButtonsDiv {
  justify-content: right;
  display: flex;
  gap: 10px;
  width: 100%;
}

.tableEdit,
.tableDelete {
  background-color: white;
}

.tableEdit:hover {
  cursor: pointer;
  background-color: #f5d389;
}

.tableDelete:hover {
  cursor: pointer;
  background-color: red;
}

.saveChangesButton,
.cancelChangesButton,
.editButton,
.deleteButton {
  background-color: #f5d389;
  padding: 5px;
  border: white 1px solid;
}

.editButton:hover {
  background-color: white;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: white;
  cursor: pointer;
}

.saveChangesButton:hover {
  background-color: white;
  cursor: pointer;
}

.cancelChangesButton:hover {
  background-color: white;
  cursor: pointer;
}

.announcementBlock {
  background: #181c25;
  border-bottom: white 1px solid;
  border-top: white 1px solid;
  border-left: black 2px solid;
  border-right: black 2px solid;
  padding: 1rem;
  margin: 1.5rem 0;
  /* box-shadow: 8px 8px black; */
  width: 98%;
}
.announcementText {
  font-family: "Montserrat", sans-serif;
  font-size: 16;
  white-space: pre-wrap;
  color: #ffffff;
}

.announcementHeader {
  font-family: "Montserrat", sans-serif;
  color: #f5d389;
  font-weight: bold;
  font-size: 24;
}

@media (max-width: 500px) {
  .createMember,
  .sendInvite,
  .deleteGroup,
  .addToListButton,
  .submitButton,
  .cancelButton,
  .profileButton,
  .removeEmailButton {
    font-size: 13 !important;
    padding: 5px 7px !important;
  }

  .dashButtons {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95vw !important;
    gap: 5px;
    margin: 0 !important;
  }

  .memberTable th,
  .memberTable td {
    font-size: 12 !important;
    padding: 4px 2px !important;
    word-break: break-word;
    text-align: center !important;
  }

  .memberTable {
    width: 94vw !important;
    max-width: 480px !important;
    min-width: 360px;
    margin: 0 auto !important;
    display: block;
    overflow-x: auto;
  }

  .memberDetails {
    width: 100vw !important;
    padding: 2px !important;
    margin-bottom: 20px !important;
    min-height: unset;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }

  .filtersDiv {
    font-size: 12;
    flex-direction: column;
    width: 96vw !important;
    margin: 0 auto 10px auto !important;
  }

  .mainTitle {
    font-size: 20;
  }
}
