.container {
  background-color: #a3d65c;
  width: 100vw;
  min-height: 8vh;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  border-radius: 50%;
  cursor: pointer;
}

.texts {
  color: black;
  font-size: 20;
}
