.container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.links{
    color: black;
    font-size: 20;
    display: flex;
    align-items: center;
    gap: 20px;
}

.link{
    color: black;
    font-size: 28;
    font-weight: bold;
}

.link:hover{
    color: white;
}

.logout{
    padding: 5px;
    border: none;
    background-color: rgb(65, 255, 151);
    cursor: pointer;
    border-radius: 3px;
    font-size: 20;
    font-weight: bold;
}

.logout:hover{
    background-color: rgb(236, 0, 0);
    color: white;
}

.texts{
    color: black;
    font-size: 20;
}