.container{
  background-color: orange;
  width: 100vw;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  border-radius: 2%;
}

.links{
    color: black;
    font-size: 20;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.link{
    color: black;
    font-size: 28;
    font-weight: bold;
}

.link:hover{
    color: white;
}

.logout{
    padding: 5px;
    border: none;
    background-color: rgb(65, 255, 151);
    cursor: pointer;
    border-radius: 3px;
    font-size: 20;
    font-weight: bold;
}

.logout:hover{
    background-color: rgb(236, 0, 0);
    color: white;
}

.texts{
    color: black;
    font-size: 20;
}